<p>
  <% id = comment.user_id %>
  <% found_user = User.find_by_id(params[:id]) %>

  <%= comment.body %><br/>
<% if user == current_user %>
	  <%= link_to 'Delete Comment', [comment.micropost, comment],
	               method: :delete,
	               data: { confirm: 'Are you sure?' } %>
<% end %>
</p>