<p>
  <%= link_to comment.commenter, comment.commenter %>
  <% user = User.find(1) %>
  <%= link_to user.name, user %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<% if comment.commenter == current_user %>
	<p>
	  <%= link_to 'Destroy Comment', [comment.article, comment],
	               method: :delete,
	               data: { confirm: 'Are you sure?' } %>
	</p>
<% end %>