
<% @microposts.each do |micropost| %>
  <div class ="row">
    <div class = "small-12 medium-10 large-8 columns">
      <h5 class = "post-author"> <%= micropost.user.name %> </h5>
      <%= image_tag micropost.pic.url(:medium) %>
      <h2 class = "post-title"> <%= micropost.title %> </h2>
      <p> <%= micropost.content %> </p>
    </div>
  </div>
<% end %>
